body{
    background-image: url(programacion.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0px;
    height: 98vh;
    width: 98vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e4f5ff;
}

.calculator{
    background-color: #e4f5ff;
    border: solid;
    border-radius: 5px 5px 5px 5px;
    padding: 5px 25px 25px 25px;
    border-color: #034b9d;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.buttons{
    background-color: #eeeff4;
    display: flex;
}

button{
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color:wheat;
    font-size:20px;
    font-weight: bold;
    border: 1px solid;
    border-color: grey;
    border-radius: 5px 5px 5px 5px;
    color: #095497;
    width: 50px;
    height: 50px;
    min-width: 50px;
    min-height: 50px;
}

button:hover{
    background-color: black;
}

.delete{
    background-color: red;
    color: white;
}

.grey{
    background-color: #808082;
    color: white;
}

.greyNew{
    background-color: #b1b1af;
    color: white;
}

.boss{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-right: 10px;
}

.numbersButtons{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:10px;
}

p{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: #2f8095;
    padding: 5px;
    margin: 0px;
    text-align: right;
}

.line{
    display: flex;
    padding: 2.5px;
}

.screen{
    font-size: 30px;
    border-radius: 5px 5px 5px 5px;
    border: 5px solid;
    border-color: #a9aaac;
    background-color: #ffffff;
    padding: 20px;
    width: 240px; 
}

.result{
    display: flex;
    text-align: right;
    justify-content: right;
    overflow: hidden;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-bottom: 2px solid #a9a9a9;
}

.twoButtons{
    display: flex;
    gap: 10px;
}

.global{
    display: flex;
    gap: 10px;
}

.calcButtons{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.secondRow{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.horizontalButton{
    width: 100%;
}

.verticalButton{
    background-color: #025db8;
    color: white;
    gap: 10px;
    width: 100%;
    height: 100%;
}
